.copyright__link {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  text-decoration: none;
}

.copyright__link:hover path,
.copyright__link:focus path {
  fill: #81b3d2;
}

.copyright__link:active path {
  fill: #b2b2b2;
}

.copyright__text {
  margin-right: 14px;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
}
