.copyright {
  display: flex;
  align-items: center;
  background-color: #ffffff;
}

.copyright__text {
  margin-right: 14px;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
}
