.features__page-main {
  background-color: #ffffff;
}

.features__slogan {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.features__intro {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
}

.features__item--blue {
  background-color: #81b3d2;
  color: #ffffff;
}

.features__item--grey {
  background-color: #eeeeee;
  color: #000000;
}

.features__title {
  font-size: 21px;
  line-height: 10px;
  font-weight: 400;
  text-transform: uppercase;
}

.features__item-number {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.features__description {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
}
