.features__page-main {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding-top: 39px;
  padding-bottom: 27px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
  background-color: #ffffff;
}

.features__slogan {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.features__intro {
  margin: 0;
  padding: 0;
  padding-top: 27px;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
  text-align: center;
  text-transform: uppercase;
}

.features__list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.features__item--blue {
  display: block;
  width: 100%;
  margin: 0 auto;
  background-color: #81b3d2;
  color: #ffffff;
}

.features__item--blue img {
  display: block;
}

.features__item-wrapper {
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 56px;
}

.features__item--reverse .features__item-wrapper {
  padding-top: 36px;
}

.features__item--grey {
  padding-right: 35px;
  padding-left: 35px;
  padding-top: 25px;
  background-color: #eeeeee;
  color: #000000;
  border-bottom: 1px solid #d6d6d6;
}

.features__item--grey:last-of-type {
  border-bottom: none;
}

.features__item--grey .features__description {
  margin-bottom: 28px;
}

.features__title {
  margin: 0;
  padding: 0;
  margin-bottom: 6px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
}

.features__item-number {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.features__description {
  margin: 0;
  margin-bottom: 41px;
  padding: 0;
  padding-top: 16px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .features__page-main {
    padding-top: 51px;
    padding-left: 122px;
    padding-right: 122px;
  }

  .features__slogan {
    font-size: 21px;
  }

  .features__intro {
    margin-bottom: 23px;
  }

  .features__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .features__item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
  }

  .features__item--blue img {
    width: 512px;
    height: 256px;
  }

  .features__item--reverse {
    flex-direction: row-reverse;
  }

  .features__item-wrapper {
    padding-right: 45px;
    padding-top: 44px;
    padding-left: 45px;
    width: 256px;
    min-height: 256px;
  }

  .features__item--reverse .features__item-wrapper {
    padding-top: 44px;
  }

  .features__title {
    font-size: 21px;
  }

  .features__description {
    padding-top: 22px;
  }

  // .features__list img {
  //   width: 512px;
  // }

  .features__item--grey {
    padding-top: 42px;
    padding-left: 43px;
    padding-right: 43px;
    display: flex;
    flex-direction: column;
    width: 256px;
    min-height: 256px;
    text-align: center;
  }
}

@media (min-width: $desktop-width) {
  .features__page-main {
    padding-top: 48px;
    padding-left: 300px;
    padding-right: 300px;
  }

  .features__item--blue img {
    width: 800px;
  }

  .features__item--reverse .features__item-wrapper {
    padding-top: 52px;
  }

  .features__item-wrapper {
    padding-right: 55px;
    padding-top: 52px;
    padding-left: 55px;
    width: 400px;
  }

  .features__item--grey {
    width: 400px;
  }

  .features__item--grey .features__title {
    margin-bottom: 9px;
    padding-right: 85px;
    padding-left: 85px;
    padding-top: 2px;
  }

  .features__title {
    padding-right: 57px;
    padding-left: 57px;
  }
}
