.form fieldset {
  margin: 0;
  padding-top: 18px;
  padding-right: 20px;
  padding-bottom: 0;
  padding-left: 20px;
  border: none;
  border-top: 1px solid #e5e5e5;
}

.form .form__name {
  padding-bottom: 3px;
}

.form .form__effect {
  padding-bottom: 14px;
}

.form input {
  border: none;
  outline: none;

  &::-ms-clear {
    display: none;
  }
}

.form input:hover,
.form textarea:hover {
  background-color: #e5e5e5;
}

.form input:focus,
.form textarea:focus {
  padding-top: 12px;
  padding-bottom: 12px;
  border: 4px solid #e5e5e5;
  background-color: #ffffff;
}

.form input::placeholder {
  font-family: "PT-Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.form__emotions {
  min-height: 221px;
}

.form h4 {
  margin: 0;
  padding: 0;
  margin-bottom: 22px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;

  background-color: #ffffff;
}

.form__attractions h4 {
  margin-bottom: 18px;
}

.form__emotions h4 {
  margin-bottom: 16px;
}

.form__wrapper span {
  display: none;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
}

.form__button {
  padding-top: 15px;
  padding-bottom: 15px;
  width: 280px;
  border: none;
  font-family: "PT-Sans", "Arial", sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #81b3d2;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .form {
    display: flex;
    flex-wrap: wrap;
  }

  .form fieldset {
    padding-left: 0;
    padding-right: 0;
    border: none;
  }

  .form h4 {
    margin-bottom: 57px;
    font-size: 21px;
  }

  .form .form__name {
    width: 50%;

    & h4 {
      text-align: left;
      padding-left: 59px;
    }
  }

  .form .form__contact {
    padding-top: 37px;
    width: 100%;

    & h4 {
      margin-bottom: 18px;
    }
  }

  .form__effect {
    position: relative;
    order: -1;
    width: 50%;

    & h4 {
      text-align: left;
    }

    &::after {
      content: "";
      position: absolute;
      width: 1px;
      height: 292px;
      top: 24px;
      right: 0;
      background-color: #dbdbdb;
    }
  }

  .form .form__attractions {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 23px;
    width: 100%;

    & h4 {
      margin: 0 auto;
      margin-bottom: 42px;
      padding-right: 130px;
      padding-left: 130px;
    }
  }

  .form .form__emotions {
    padding-top: 38px;
    width: 100%;

    & h4 {
      margin-bottom: 56px;
    }
  }

  .form__wrapper {
    margin-bottom: 23px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .form__wrapper span {
    display: block;
    padding-top: 18px;
  }

  .form__button {
    padding-left: 28px;
    padding-right: 40px;
    width: 324px;
  }

  .form__contact h4,
  .form__attractions h4,
  .form__emotions h4 {
    position: relative;

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 125px;
      height: 1px;
      top: 50%;
      transform: translateY(-50%);
      background-color: #dbdbdb;

      @media (min-width: $desktop-width) {
        width: 280px;
      }
    }

    &::before {
      left: 0;
    }

    &::after {
      right: 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .form .form__name h4 {
    padding-left: 81px;
  }

  .form .form__contact {
    padding-top: 54px;
  }

  .form .form__contact h4 {
    margin-bottom: 68px;
  }

  .form__effect h4 {
    padding-right: 47px;
    text-align: center;
  }

  .form .form__attractions {
    margin: 0;
    width: 100%;

    & h4 {
      padding-right: 300px;
      padding-left: 300px;
      width: 100%;
    }
  }

  .form .form__emotions {
    padding-top: 36px;
  }

  .form__wrapper span {
    padding-top: 17px;
  }

  .form__button {
    padding-left: 35px;
    padding-right: 35px;
    width: 480px;
  }
}
