.gallery {
  background-color: #ffffff;
}

.gallery__photo {
  padding-right: 26px;
  padding-left: 26px;
  padding-top: 36px;
  text-align: center;
}

.gallery__title {
  margin: 0;
  margin-bottom: 26px;
  padding: 0;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.gallery p {
  margin: 0;
  margin-bottom: 28px;
  padding: 0;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
}

.gallery__list {
  margin: 0;
  padding: 0;
  padding-left: 20px;
  padding-right: 20px;
  list-style: none;
}

.gallery__item {
  padding-top: 22px;
  padding-bottom: 17px;
  border-bottom: 1px solid #e5e5e5;
}

.gallery__item:first-of-type {
  border-top: 1px solid #e5e5e5;
}

.gallery__item img {
  display: block;
}

.gallery__topic {
  margin: 0;
  padding: 0;
  padding-top: 16px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.gallery__intro {
  margin: 0;
  padding: 0;
}

.gallery__item .gallery__intro {
  margin-bottom: 0;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #333333;
  text-transform: none;
}

.gallery__item-description {
  position: relative;
}

.gallery__likes {
  position: relative;
  margin-top: 6px;
  padding-left: 17px;
  border: none;
  background-color: transparent;
  font-family: "PT-Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  cursor: pointer;

  width: 22px;
  height: 22px;
  background-image: url("../img/icon-like.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.gallery__number {
  padding-left: 20px;
}

@media (min-width: $tablet-width) {
  .gallery {
    padding-top: 49px;
  }

  .gallery__photo {
    padding-top: 26px;
  }

  .gallery__title {
    font-size: 30px;
  }

  .gallery p {
    padding-top: 4px;
    padding-right: 136px;
    padding-left: 136px;
  }

  .gallery__list {
    display: flex;
    flex-wrap: wrap;
    padding-right: 60px;
    padding-left: 60px;
    padding-top: 39px;
  }

  .gallery__item img {
    height: 267px;
  }

  .gallery__item:first-of-type {
    width: 100%;

    & img {
      height: 400px;
    }

    & .gallery__likes {
      left: auto;
      right: 62px;
    }
  }

  .gallery__item {
    position: relative;
    padding-top: 0;
    width: 50%;
    background-color: #f2f2f2;
  }

  .gallery__topic {
    padding-top: 15px;
    padding-left: 20px;
  }

  .gallery__item .gallery__intro {
    margin-bottom: 0;
    padding-top: 0;
    padding-left: 20px;
  }

  .gallery__likes {
    position: absolute;
    padding-left: 13px;
    bottom: 8px;
    left: 239px;
    top: 21px;
  }
}

@media (min-width: $desktop-width) {
  .gallery {
    padding-top: 86px;
  }

  .gallery p {
    margin-bottom: 33px;
    padding-right: 360px;
    padding-left: 360px;
  }

  .gallery__list {
    padding-right: 0;
    padding-left: 0;
  }

  .gallery__item {
    position: relative;
    padding-bottom: 0;
    width: 400px;
    border-bottom: none;
  }

  .gallery__item img {
    // временно для сетки

    height: 265px;
  }

  .gallery__item:first-of-type {
    width: 100%;

    & .gallery__likes {
      left: auto;
      right: 64px;
    }
  }

  .gallery__item-description {
    position: absolute;
    padding-bottom: 17px;
    padding-top: 15px;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .gallery__topic {
    padding-top: 0;
    padding-left: 21px;
    color: #ffffff;
  }

  .gallery__item .gallery__intro {
    padding-right: 20px;
    padding-left: 21px;
    color: #ffffff;
  }

  .gallery__likes {
    bottom: 27px;
    left: 315px;
    color: #ffffff;
    background-image: url("../img/icon-like — desktop.svg");
  }
}
