.offer {
  background-color: #ffffff;
  text-align: center;
}

.offer__description {
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 26px;
}

.offer__title {
  margin: 0;
  margin-bottom: 19px;
  padding: 0;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.offer__intro {
  margin: 0;
  margin-bottom: 37px;
  padding: 0;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
}

.offer__link {
  display: block;
  margin-bottom: 50px;
  padding-top: 14px;
  padding-bottom: 15px;
  width: 100%;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;

  background-color: #81b3d2;
}

.offer__link:hover,
.offer__link:focus {
  background-color: #669ec0;
}

.offer__link:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.offer__map {
  display: block;
}

@media (min-width: $tablet-width) {
  .offer__description {
    padding-top: 55px;
    padding-right: 155px;
    padding-left: 155px;
  }

  .offer__title {
    margin-bottom: 30px;
    font-size: 30px;
  }

  .offer__intro {
    margin-bottom: 44px;
  }

  .offer__link {
    margin-bottom: 59px;
  }

  .offer__map {
    width: 100%;
    height: 350px;
  }
}

@media (min-width: $desktop-width) {
  .offer__description {
    padding-right: 370px;
    padding-left: 370px;
  }

  .offer__intro {
    margin-bottom: 49px;
  }

  .offer__link {
    margin-bottom: 67px;
  }
}
