.page-footer {
  padding-bottom: 23px;
  background-color: #ffffff;
}

.page-footer__title {
  margin: 0;
  margin-bottom: 37px;
  padding: 0;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;

  text-transform: uppercase;
}

.page-footer__wrapper {
  display: flex;
  padding-top: 37px;
  flex-direction: column;
  align-items: center;
}

@media (min-width: $tablet-width) {
  .page-footer {
    padding-bottom: 29px;
  }

  .page-footer__wrapper {
    flex-direction: row;
    padding-top: 25px;
    padding-right: 60px;
    padding-bottom: 0;
    padding-left: 60px;
    justify-content: space-between;
  }

  .page-footer__title {
    margin-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    padding-bottom: 36px;
  }

  .page-footer__wrapper {
    padding-top: 26px;
    padding-right: 120px;
    padding-left: 120px;
  }
}
