.popup {
  display: none;
  position: fixed;
  padding-top: 45px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.popup--active {
  display: block;
}

.popup--success {
  width: 100%;
}

.popup__top {
  padding-right: 50px;
  padding-bottom: 35px;
  padding-left: 50px;
}

.popup__bottom {
  padding: 20px;
  background-color: #f2f2f2;
}

.popup--error {
  padding-right: 53px;
  padding-left: 53px;
  width: 100%;
  min-height: 280px;
}

.popup h2 {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;

  text-transform: uppercase;
}

.popup p {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #333333;

  text-transform: uppercase;
}

.popup--error p {
  margin-bottom: 23px;
}

.popup button {
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: "PT-Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  cursor: pointer;

  text-transform: uppercase;
  background-color: #81b3d2;
  border: none;
}

.popup button:hover,
.popup button:focus {
  background-color: #669ec0;
}

.popup button:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.popup__button {
  width: 100%;
}

.popup--error .popup__button {
  padding-top: 13px;
  padding-right: 77px;
  padding-bottom: 17px;
  padding-left: 77px;
  width: 178px;
}

@media (min-width: $tablet-width) {
  .popup {
    padding-top: 61px;
  }

  .popup--success {
    width: 641px;
    min-height: 347px;
  }

  .popup__top {
    padding-right: 110px;
    padding-bottom: 32px;
    padding-left: 110px;
  }

  .popup__bottom {
    padding-top: 45px;
    padding-right: 92px;
    padding-bottom: 45px;
    padding-left: 92px;
  }

  .popup--error {
    width: 400px;
    min-height: 347px;

    & p {
      margin-bottom: 36px;
      margin-top: -18px;
    }
  }

  .popup--error .popup__button {
    padding-left: 123px;
    padding-right: 123px;
    width: 272px;
  }

  .popup__top h2 {
    font-size: 30px;
  }

  .popup--error h2 {
    padding-right: 23px;
    padding-left: 23px;
    font-size: 30px;
    line-height: 40px;
  }

  .popup h2 {
    margin-bottom: 35px;
  }

  .popup button {
    font-size: 21px;
  }
}

