.presentation {
  background-color: #ffffff;
  text-transform: uppercase;
}

.presentation__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.presentation__intro {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #333333;
}
