.reviews {
  padding-top: 36px;
  padding-bottom: 36px;
  text-align: center;
  background-color: #ffffff;
}

.reviews h2 {
  margin: 0;
  margin-bottom: 27px;
  padding: 0;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.reviews p {
  margin: 0;
  padding: 0;
  margin-bottom: 17px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .reviews {
    padding-top: 74px;
    padding-right: 60px;
    padding-left: 60px;
  }

  .reviews h2 {
    margin-bottom: 31px;
    font-size: 30px;
  }

  .reviews p {
    margin-bottom: 55px;
    padding-left: 102px;
    padding-right: 102px;
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    padding-bottom: 40px;
    padding-top: 112px;
    padding-right: 120px;
    padding-left: 120px;
  }

  .reviews p {
    margin-bottom: 39px;
    padding-left: 258px;
    padding-right: 258px;
  }
}
