.user-effect {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: left;
}

.user-effect__item {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 13px;
  padding-left: 79px;
  width: 100%;
}

.user-effect__input:checked + label::after {
  content: "";
  position: absolute;
  top: 2px;
  left: -62px;
  width: 22px;
  height: 22px;

  border-radius: 50%;
  background-color: #333333;
}

.user-effect__label {
  position: relative;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;

  background-color: #ffffff;
}

.user-effect__label::before {
  content: "";
  position: absolute;
  top: -16px;
  left: -79px;
  width: 56px;
  height: 56px;

  border-radius: 50%;
  background-color: #f2f2f2;
}

.user-effect__label:hover::before {
  background-color: #e5e5e5;
}

.user-effect__input:focus + label::before {
  background-color: #e5e5e5;
}

.user-effect__label:active::before {
  background-color: #d5d5d5;
}

.user-effect__input:checked + label:active::after {
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .user-effect__item {
    margin-bottom: 19px;
    padding-bottom: 18px;
    padding-left: 78px;
    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .user-effect__item {
    padding-left: 82px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
