.user-contact {
  margin: 0;
  margin-bottom: 29px;
  padding: 0;
  list-style: none;
}

.user-contact__item {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 13px;

  &::before {
    content: "";
    position: absolute;
    width: 58px;
    height: 58px;
    bottom: 0;
    right: 0;
    background-color: #e6e6e6;
    background-position: center;
    background-size: 32%;
    background-repeat: no-repeat;
  }
}

.user-contact__item input {
  padding-top: 16px;
  padding-left: 20px;
  padding-right: 70px;
  padding-bottom: 16px;
  width: 100%;
  min-height: 58px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  border-radius: 0;
  background-color: #f2f2f2;
}

.user-contact__item input:focus {
  padding-right: 66px;
  padding-left: 16px;
}

.user-contact__label {
  margin-bottom: 6px;
  padding-left: 22px;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
  text-align: left;
  text-transform: uppercase;
}

.user-contact__item--phone::before {
  background-image: url("../img/phone.svg");
}

.user-contact__item--email::before {
  background-image: url("../img/mail.svg");
}

@media (min-width: $tablet-width) {
  .user-contact__item {
    padding-top: 6px;
    margin-bottom: 17px;
  }

  .user-contact__label {
    margin-bottom: 7px;
    padding-left: 22px;
    text-align: left;
  }

  // .user-contact__item input {
  //   padding-bottom: 16px;
  //   padding-top: 16px;
  // }
}

@media (min-width: $desktop-width) {
  .user-contact {
    margin-bottom: 12px;
    display: flex;
    justify-content: space-between;
  }

  .user-contact__item {
    display: flex;
    flex-direction: row;

    &:first-of-type {
      width: 400px;
    }

    &:last-of-type {
      width: 480px;
    }
  }

  .user-contact__item input {
    padding-left: 22px;
    width: 315px;
  }

  .user-contact__item input:focus {
    padding-left: 18px;
  }

  .user-contact__label {
    padding-top: 17px;
    padding-right: 16px;
    padding-left: 0;

    & span {
      display: none;
    }
  }
}
